

@font-face {
    font-family: "Pacifico";
    src: url("Pacifico.ttf");
   }
   @font-face{
     font-family:ostrich sans medium;
     font-style:normal;
     font-weight:400;
     src:local('Ostrich Sans Medium'),local('OstrichSans-Medium'),
     url("./ostrich-regular.ttf") format('truetype')
    }

  .rev-body { 
      display: grid;
      grid-template-areas: 
        "header header header"
        "article article article";
      grid-template-rows: 1fr 1fr 1fr 7fr;
      grid-template-columns:  2fr 5fr 2fr;
      
      background-image: url(../images/symphony.png);
      justify-content: center;
      
      }  




    .review {
        grid-area: article;
        grid-column: 2 / 3;
          
     }
    .i {
            grid-area: i;
    }
          
    .t {
         grid-area: t;
         margin: auto;
        }
          
    #rev-pageHeader {
        grid-area: header;
        display: grid;
        grid-gap: 4px;
        grid-template-areas: "i t";
        justify-content: center;
    }
    
    .modal-sm {
        max-width: 60%;
    }
    .modal-lg{
        max-width: 60%;
    }

    .modal-title {
        font-size: 1.4em;
        font-weight: bold;
        
    }
    #rev-pageHeader {
        padding-bottom: 2em;
    }
    #review-text {
        padding: 2em;
        margin-left: 2em;
        margin-right: 2em;
        border-radius: 0.5em;
        border-width: thin;
        border-style: solid;
        border-color: red;
        background-color:#d54d7b;
        color:white;
        font-size: 1.3em;
    }
    button > span {
        color:black;
        font-weight: bold;
        font-size: 1.5em;
    }
    div > span {
    background-color: #fdb907;
    color: #000;
    line-height: 1.0em;
    min-height: 2em;
    border-radius: 3px;
    padding-left: 2em;
    padding-right:2em;
    font-weight: thin;
    font-size: 1.2em;
    padding-bottom: 0px;
    }
